@import '../../Core/styles/variables';

.amp-topbar{
  display:flex; align-items:center;
  &__avatar{
    display:flex; align-items:center; cursor:pointer;
  }
  &__user-menu{
    svg{color:#fff !important;}
  }
}