@import "'../";

.amped-app{
  height:100%;
  &--content, .amped-container{height:100%;}
  &--loading{
    .amped-app--content{display:none;}
    .amped-app--loader{display:block;}
  }
  &--setup{
    .amped-app--content{display:block;}
    .amped-app--loader{display:none;}
  }
}

.paper{

  &--depth-1{ box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; }
  &--depth-2{ box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px; }
  &--depth-3{ box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;}
  &--depth-4{ box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px; }
  &--depth-5{ box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px; }
}